.timeline-wrapper {
  border-radius: 16px;
}
.timeline-wrapper-container {
  display: grid;
  grid-template-areas: "side main";
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.timeline-wrapper-container-side {
  grid-area: side;
  height: 100vh;
}
.timeline-wrapper-container-side-count {
  background-color: var(--white-1);
  margin-bottom: 20px;
  border-radius: 5px;
  border-radius: 16px;
}
.timeline-wrapper-container-side-count .count-container {
  display: flex;
  text-align: center;
  padding: 30px;
}
.timeline-wrapper-container-side-count .count-container .followers-count,
.timeline-wrapper-container-side-count .count-container .following-count {
  width: 50%;
}
.timeline-wrapper-container-side-count .count-container .followers-count .count,
.timeline-wrapper-container-side-count .count-container .following-count .count {
  font-size: 24px;
  font-weight: 700;
}
.timeline-wrapper-container-side-count .count-container .followers-count p,
.timeline-wrapper-container-side-count .count-container .following-count p {
  color: var(--gray-6);
}
.timeline-wrapper-container-side-count .count-container .vertical-line {
  border-right: 1px solid var(--gray-6);
}
.timeline-wrapper-container-side .social {
  margin-top: 20px;
}
.timeline-wrapper-container-side .side-content {
  padding: 10px 20px;
  background-color: var(--white-1);
  border-radius: 16px;
}
.timeline-wrapper-container-side .side-content p {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
}
.timeline-wrapper-container-side .side-content .nothing-to-show {
  text-align: center;
}
.timeline-wrapper-container-side .side-content .side-container p {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-5);
}
.timeline-wrapper-container-side .side-content .side-container .updateBtn {
  background-color: var(--primary-1);
  color: var(--white-1);
  font-weight: 700;
  text-align: right;
  cursor: pointer;
}
.timeline-wrapper-container-side .side-content .side-container .updateBtn:disabled {
  cursor: none;
  opacity: 0.4;
}
.timeline-wrapper-container-side .side-content .side-container .updateBtn:hover {
  opacity: 0.8;
}
.timeline-wrapper-container-side .side-content .side-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timeline-wrapper-container-side .side-content .side-container-header .editBtn {
  color: var(--primary-1);
  font-size: 14px;
  cursor: pointer;
}
.timeline-wrapper-container-side .side-content .side-container-body {
  display: grid;
  grid-template-areas: "icon content";
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 15px;
}
.timeline-wrapper-container-side .side-content .side-container-body-about .about {
  font-weight: normal;
  padding-left: 0;
}
.timeline-wrapper-container-side .side-content .side-container-body-about div[contenteditable=true] {
  border: 1px solid var(--white-13);
  padding: 0 4px;
}
.timeline-wrapper-container-side .side-content .side-container-body-about div[contenteditable=true]:empty::before {
  content: attr(data-placeholder);
  color: var(--gray-1);
}
.timeline-wrapper-container-side .side-content .side-container-body-about .no-information {
  font-style: italic;
}
.timeline-wrapper-container-side .side-content .side-container-body-icon {
  grid-area: icon;
  font-size: 20px;
  margin-top: 5px;
  height: -moz-fit-content;
  height: fit-content;
}
.timeline-wrapper-container-side .side-content .side-container-body-icon .icon {
  color: var(--gray-6);
}
.timeline-wrapper-container-side .side-content .side-container-body-icon .facebook {
  color: var(--primary-3);
}
.timeline-wrapper-container-side .side-content .side-container-body-icon .youtube {
  color: var(--red-4);
}
.timeline-wrapper-container-side .side-content .side-container-body-icon .twitter {
  color: var(--primary-2);
}
.timeline-wrapper-container-side .side-content .side-container-body-icon .instagram {
  color: var(--red-5);
}
.timeline-wrapper-container-side .side-content .side-container-body-content {
  grid-area: content;
  font-size: 14px;
  padding-top: 5px;
  line-height: 19px;
  padding-left: 10px;
  font-weight: normal;
  overflow-x: auto;
  word-break: break-all;
}
.timeline-wrapper-container-side .side-content .side-container-body-content span {
  color: var(--black-5);
  font-weight: bold;
}
.timeline-wrapper-container-side .side-content .side-container-body-content div[contenteditable=true] {
  border: 1px solid var(--white-13);
  padding: 0 4px;
  overflow-x: scroll;
}
.timeline-wrapper-container-side .side-content .side-container-body-content div[contenteditable=true]:empty::before {
  content: attr(data-placeholder);
  color: var(--gray-1);
}
.timeline-wrapper-container-side .side-content .side-container-body-content .no-information {
  font-style: italic;
}
.timeline-wrapper-container-side .side-content .side-container-body-content .link {
  color: var(--primary-1);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
.timeline-wrapper-container-side .side-content .side-container-body-content .link:hover {
  text-decoration: underline;
}
.timeline-wrapper-container-main {
  grid-area: main;
  overflow: hidden;
  margin-bottom: 80px;
  margin-left: 20px;
}

@media only screen and (max-width: 1200px) {
  .timeline-wrapper-container {
    display: grid;
    grid-template-areas: "side" "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
  }
}/*# sourceMappingURL=Timeline.css.map */